*{
    margin:0;
    padding:0;
    font-family: Garamond, Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
}

/* stil menija da bude sticky na top*/
#menu{ 
    background-color: rgba(0, 0, 0, 0.856);
    position: sticky;
    top: 0;
    opacity: 1;
}
#menilista{ 
    
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
#menilista>li{
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}
#menilista>li>a{
    text-decoration: none;
    color: purple;
    transition-duration: 0.5s;
}
#menilista>li>a:hover{
    text-decoration: none;
    color: blue;
}

/* #sve sadrzi #levo #desno i #sredina, ovde je namesten redosled  */
#sve{
    display: flex;
    flex-direction: row;
}

#levo{
    background-color: rgba(128, 128, 128, 0.404);
    flex: 1;
    order: 1;
    transition-duration: 0.5s;

}
#desno{
    background-color: rgba(128, 128, 128, 0.404);
    flex: 1;
    order: 3;
    transition-duration: 0.5s;

}

/* SAD JE SVE DO KRAJA POD DIVOM SREDINA */

#sredina{
    flex: 8;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgba(110, 85, 68, 1);
    order: 2;
}



/* podesen naslov da bude na centru boja i ostalo*/
#naslov{
    display: flex;
    justify-content: center;
    background-color: black;
    
}
#naslov>h1{
    margin: 5px;
    padding: 5px;
    color: purple;
    font-size: 300%;
    font-weight: bold;
   
}


/* podesena samo slika da bude siroka*/
#hogwarts{
    display: flex;
    justify-content: center;
    
}
#hogwarts>img{
    width:100%;
}

/* ona istorija sveta sa 4 slike*/
#opis{
    font-size: 150%;
    margin: 2% 1%;
    color: white;
}
#svet{
    display: flex;
    margin: 2% 1%;
}
#rat{
    display: flex;
    margin: 2% 1%;
}


/*kad je umro voldemor pre kolko dana*/
#datumsmrti{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 150%;
    background-color: black;
    padding: 2%;
    color : green;
    font-weight: bold;
}

/*#pismo tag obuhvata celo pismo namesta boju i pozicije*/
#pismo{
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 213, 171); 
    /*display: none;*/
    align-items: center;
}
#pismo h1{
    margin: 5px;
    padding: 5px;
    color: rgb(0, 0, 0);
    font-size: 300%;
    font-weight: bold;
   
}
#pismo p{
    font-size: 150%;
    padding: 0 2%;
}
#pismo button{
    font-size:150%;
    font-weight: bold;
    background-color: purple;
    margin: 10px;
    color: white;
    padding: 10px;
    transition-duration: 0.5s;
    border: none;
    border-radius: 50px;
}
#pismo button:hover{
    background-color: white;
    color: purple;
    font-size: 170%;
}


/*podesava stil #sortiranje da se prvo ne vidi display:none pa se aktivacijom dugmeta vidi a nestaje #pismo*/
#sortiranje{
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 2% 0%;
    text-align: center;
    font-size: 150%;
}
#kuce{ /* poredjani grbovi */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#zapocnikvizDugme{
    font-size:150%;
    font-weight: bold;
    background-color: purple;
    margin: 10px;
    color: white;
    padding: 10px;
    transition-duration: 0.5s;
    border: none;
    border-radius: 50px;
}
#zapocnikvizDugme:hover{
    background-color: white;
    color: purple;
    font-size: 170%;
}


/*pitanja se otvaraju kada se klikne dugme*/
#pitanja{
    display: none;
}
#pitanja{
    background-color: rgb(235, 213, 171); 
    width: 100%;
}
.pitanjeKlasa{
    background-color: rgb(235, 213, 171); 
    margin: 2%;
    padding: 1%;
    border: dashed;
    border-color: white;
    border-width: 4px;
    opacity: 1;
    
}
.textpitanja{
    margin: 2%;
    color: black;
    font-weight: bold;
}

.odgovori{
    width:100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.odgovori>button{
    display: block;
    height: 20vh;
    flex: 1;
    margin: 0% 1%;
    background-color: rgb(235, 213, 171);
    color: black;
    font-size: 80%;
    border: none;
    border-radius: 5%;
    transition-duration: 0.3s;
}
.odgovori>button:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}

#krajkviza{
    font-size:150%;
    font-weight: bold;
    background-color: white;
    margin: 10px;
    color: black;
    padding: 10px;
    transition-duration: 0.5s;
    border: none;
    border-radius: 50px;
}
#krajkviza:hover{
    font-size: 170%;
    color: white;
    background-color: black;
    border-radius: 0;
    border: dashed;
}


/*Welcome stranice za svaku Kucu*/
#sortirani{
    display: flex;
    flex-direction:column;
    align-items: center;
    align-content: center;
}
#gryffindorWelcome{
    /* display: flex; */
    background-image: linear-gradient(crimson, gold);
    width: 100%;
    padding: 5% 0%;
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 200%;
}


#slytherinWelcome{
    /* display: flex; */
    background-image: linear-gradient(SeaGreen, silver);
    width: 100%;
    padding: 5% 0%;
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 200%;
}
#hufflepuffWelcome{
    /* display: flex; */
    background-image: linear-gradient(GoldenRod, black);
    width: 100%;
    padding: 5% 0%;
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 200%;
    color: white;
}
#ravenclawWelcome{
    /* display: flex; */
    background-image: linear-gradient(SteelBlue, #cd7f32);
    width: 100%;
    padding: 5% 0%;
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 200%;
    color: white;
}

#vremeZaKviz{
    display:flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    justify-items: center;
    width:100%;
}